@tailwind base;
@tailwind components;
@tailwind utilities;

/* TEST WITHOUT apply */
body {
  background-color: white;
  color: #1f2937; /* Tailwind's gray-800 */
  font-family: sans-serif;
}

input,
button {
  outline: none;
}
/* In your CSS file (e.g., globals.css) */
.bg-dots {
  background-image: radial-gradient(#ffffff20 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust dot spacing */
}
